/* Default css file for jemdoc. */

@font-face {
    font-family: 'Linux Libertine';
    font-style: normal;
    font-weight: normal;
    src: local('Linux Libertine'), url('/fonts/LinLibertine_Re-4.1_.8_.woff') format('woff');
}

@font-face {
    font-family: 'Linux Libertine';
    /* italic */
    font-style: italic;
    font-weight: normal;
    src: local('Linux Libertine Italic'), url('/fonts/LinLibertine_It-4.0_.3_.woff') format('woff');
}

@font-face {
    font-family: 'Linux Libertine';
    /* bold */
    font-style: normal;
    font-weight: bold;
    src: local('Linux Libertine Bold'), url('/fonts/LinLibertine_Bd-4.0_.2_.woff') format('woff');
}

@font-face {
    font-family: 'Linux Libertine';
    /* bold italic */
    font-style: italic;
    font-weight: bold;
    src: local('Linux Libertine Bold Italic'), url('/fonts/LinLibertine_BI-4.0_.3_.woff') format('woff');
}

@font-face {
    font-family: 'Linux Libertine Capitals';
    font-style: normal;
    font-weight: normal;
    font-variant-caps: small-caps;
    src: local('Linux Libertine Capitals'), url('/fonts/LinLibertineC_Re-4.0_.1_.woff') format('woff');
}

table#tlayout {
    border: none;
    border-collapse: separate;
    background: white;
}

body {
    background: white;
    font-family: 'Linux Libertine', Garamond, 'Times New Roman', serif;
    padding-bottom: 8px;
    margin: 0;
}

#layout-menu {
    background: #f6f6f6;
    border: 1px solid #dddddd;
    padding-top: 0.5em;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.0em;
    width: auto;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
}

#layout-menu td {
    background: #f4f4f4;
    vertical-align: top;
}

#layout-content {
    padding-top: 0.0em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    border: none;
    background: white;
    text-align: left;
    vertical-align: top;
    width: auto;
}

#layout-menu a {
    line-height: 1.5em;
    margin-left: 0.5em;
}

tt {
    background: #ffffdd;
}

pre,
tt {
    font-size: 90%;
    font-family: monaco, monospace;
}

a,
a>tt {
    color: white;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px gray dotted;
}

#layout-menu a.current:link,
#layout-menu a.current:visited {
    color: #000000;
    border-bottom: 1px gray solid;
}

#layout-menu a:link,
#layout-menu a:visited,
#layout-menu a:hover {
    color: #8d0016;
    text-decoration: none;
}

#layout-menu a:hover {
    text-decoration: none;
}

div.menu-category {
    border-bottom: 1px solid gray;
    margin-top: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    font-weight: bold;
}

div.menu-item {
    padding-left: 16px;
    text-indent: -16px;
}

div#toptitle {
    padding-bottom: 0.2em;
    margin-bottom: 1.5em;
    border-bottom: 3px double gray;
}


/* Reduce space if we begin the page with a title. */

div#toptitle+h2,
div#toptitle+h3 {
    margin-top: -0.7em;
}

div#subtitle {
    margin-top: 0.0em;
    margin-bottom: 0.0em;
    padding-top: 0em;
    padding-bottom: 0.1em;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

h1,
h2,
h3 {
    color: #8d0016;
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    padding-top: 0.5em;
    border-bottom: 1px solid #aaaaaa;
}

h1 {
    font-size: 165%;
}

h2 {
    padding-top: 0.8em;
    font-size: 125%;
}

h2+h3 {
    padding-top: 0.2em;
}

h3 {
    font-size: 110%;
    border-bottom: none;
}

p {
    margin-top: 0.0em;
    margin-bottom: 0.8em;
    padding: 0;
    line-height: 1.3;
}

pre {
    padding: 0;
    margin: 0;
}

div#footer {
    font-size: small;
    border-top: 1px solid #c0c0c0;
    padding-top: 0.1em;
    margin-top: 4.0em;
    color: #c0c0c0;
}


/* div#footer a {
    color: #8d0016;
} */

div#footer-text {
    float: left;
    /* padding-bottom: 8px; */
}

ul,
ol,
dl {
    margin-top: 0.2em;
    padding-top: 0;
    margin-bottom: 0.8em;
}

dt {
    margin-top: 0.5em;
    margin-bottom: 0;
}

dl {
    margin-left: 20px;
}

dd {
    color: #222222;
}

dd>*:first-child {
    margin-top: 0;
}

ul {
    list-style-position: outside;
    list-style-type: square;
}

p+ul,
p+ol {
    margin-top: -0.5em;
}

li ul,
li ol {
    margin-top: -0.3em;
}

ol {
    list-style-position: outside;
    list-style-type: decimal;
}

li p,
dd p {
    margin-bottom: 0.3em;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

p+div.codeblock {
    margin-top: -0.6em;
}

div.codeblock,
div.infoblock {
    margin-right: 0%;
    margin-top: 1.2em;
    margin-bottom: 1.3em;
}

div.blocktitle {
    font-weight: bold;
    color: #cd7b62;
    margin-top: 1.2em;
    margin-bottom: 0.1em;
}

div.blockcontent {
    border: 1px solid silver;
    padding: 0.3em 0.5em;
}

div.infoblock>div.blockcontent {
    background: #ffffee;
}

div.blockcontent p+ul,
div.blockcontent p+ol {
    margin-top: 0.4em;
}

div.infoblock p {
    margin-bottom: 0em;
}

div.infoblock li p,
div.infoblock dd p {
    margin-bottom: 0.5em;
}

div.infoblock p+p {
    margin-top: 0.8em;
}

div.codeblock>div.blockcontent {
    background: #f6f6f6;
}

span.pycommand {
    color: #000070;
}

span.statement {
    color: #008800;
}

span.builtin {
    color: #000088;
}

span.special {
    color: #990000;
}

span.operator {
    color: #880000;
}

span.error {
    color: #aa0000;
}

span.comment,
span.comment>*,
span.string,
span.string>* {
    color: #606060;
}

@media print {
    #layout-menu {
        display: none;
    }
}

#fwtitle {
    margin: 2px;
}

#fwtitle #toptitle {
    padding-left: 0.5em;
    margin-bottom: 0.5em;
}

#layout-content h1:first-child,
#layout-content h2:first-child,
#layout-content h3:first-child {
    margin-top: -0.7em;
}

div#toptitle h1,
#layout-content div#toptitle h1 {
    margin-bottom: 0.0em;
    padding-bottom: 0.1em;
    padding-top: 0;
    margin-top: 0.5em;
    border-bottom: none;
}

img.eq {
    padding: 0;
    padding-left: 0.1em;
    padding-right: 0.1em;
    margin: 0;
}

img.eqwl {
    padding-left: 2em;
    padding-top: 0.6em;
    padding-bottom: 0.2em;
    margin: 0;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    padding: 2px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    border: 1px solid gray;
}

table+table {
    margin-top: 1em;
}

tr.heading {
    font-weight: bold;
    border-bottom: 2px solid black;
}

img {
    border: none;
}

table.imgtable,
table.imgtable td {
    color: #fff;
    border: none;
    text-align: left;
    /* width: 80%; */
    -webkit-box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.5);
    background-image: url("https://profiles.stanford.edu/images/collonade.jpg");
}

#email {
    color: white;
}

#email:hover {
    border-bottom: 1px dotted gray;
}

.col-md-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
}

.col-md-5 li {
    /* display: block; */
    margin-top: 2px;
}

.footer-wrapper {
    margin: 1.875em -1.25em 0;
    width: auto;
    overflow: hidden;
    background-color: #8c1515;
    padding-top: 1.875em;
}

.container {
    float: left;
    width: 180px;
    text-align: center;
    padding-top: 15px;
}

.container>a {
    font-size: xx-large;
    color: white;
}

.put-to-bottom {
    padding-top: 100px;
}

.su-brand-bar {
    width: 100%;
    height: 35px;
    background-color: #8c1515;
}

.su-brand-bar__logo {
    display: inline-block;
    font-family: Stanford, "Source Serif Pro", Georgia, Times, Times New Roman, serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    line-height: .75;
    transform: translateZ(0);
    letter-spacing: 0;
    font-feature-settings: "liga";
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    margin-top: 8px;
    white-space: nowrap;
    color: #fff;
    font-size: 20px;
}

.header-leftside {
    display: inline-block;
}

.header-rightside {
    display: inline-block;
    /* background-color: pink; */
    margin-left: 30px;
}

.header-container {
    max-width: calc(100% - 200px);
    width: calc(100% - 200px);
    margin: 0 auto;
}

.code {
    margin-left: 30px;
}